In [4]:
person = { 'name':'maheen ramzan','age':19,'city':'chishtian','hobbies':['reading','baking','travelling'] } 
print (person)

{'name': 'maheen ramzan', 'age': 19, 'city': 'chishtian', 'hobbies': ['reading', 'baking', 'travelling']}

In [1]:
inventry = {'Led screen':12,'speaker':32,'fridges':10}
for item,quantity in inventry.items():
    print (f"{item} : {quantity}")

Led screen : 12
speaker : 32
fridges : 10

In [9]:
student_Grades = {'Ali':85,'Zainab':60,'Rayyan':9}
total = 0
for Grade in student_Grades.values():
    total = total + Grade
average = total / len (student_Grades)
print("student Grades:",student_Grades)
print("Average Grade:",average)

student Grades: {'Ali': 85, 'Zainab': 60, 'Rayyan': 9}
Average Grade: 51.333333333333336

In [4]:
inventory = {"laptop": {"quantity": 17, "price": 999.99},
             "mouse": {"quantity": 19, "price": 39.99},
             "keyboard": {"quantity": 4, "price":69.99}}
total_value = sum(d['quantity'] *d['price'] for d in inventory.values())
low_stock = {p: d for p, d in inventory.items()if d['quantity']<=5}
print(f"Total Inventory Value: ${total_value:.2f}")
print(f"Low Stock Items: {low_stock}")

Total Inventory Value: $18039.60
Low Stock Items: {'keyboard': {'quantity': 4, 'price': 69.99}}

In [14]:
student={ 
    "Ali":{"Math":80,"English":75, "Science":85},
    "Sara":{"Math":90,"English":95,"Science":88},
    "Omer":{"Math":60,"English":70,"Science":65}
}
print("Average Grades:")
averages = {}
for name, grades in student.items():
    avg = sum(grades.values()) / len(grades)
    averages[name] = avg
    print(name, "=", avg)
subject = "Math"
subject_grades = {name: grades[subject] for name, grades in student.items () } 
highest =  max(subject_grades, key= subject_grades.get) 
lowest = min(subject_grades, key=subject_grades.get)
print("\nHighest in", subject, ":", highest, "=", subject_grades[highest])
print("Lowest in", subject, ":", lowest, "=", subject-grades[lowest])

Average Grades:
Ali = 80.0
Sara = 91.0
Omer = 65.0

Highest in Math : Sara = 90

KeyError: 'Omer'